<li data-node="{node|short}">
    <span class="desc">
        <a href="{url|urlescape}rev/{node|short}{sessionvars%urlparameter}">{desc|strip|firstline|escape|nonempty}</a>
    </span>
    {alltags}
    <span class="info"><span class="age">{date|rfc822date}</span>, by {author|person}</span>
</li>
