<div>
<a class="title" href="{url}rev/{node|short}{sessionvars%urlparameter}"><span class="age">{date|age}</span>{desc|strip|firstline|escape|nonempty}<span class="logtags"> {inbranch%inbranchtag}{branches%branchtag}{tags%tagtag}</span></a>
</div>
<div class="title_text">
<div class="log_link">
<a href="{url}rev/{node|short}{sessionvars%urlparameter}">changeset</a><br/>
</div>
<i>{author|obfuscate} [{date|rfc822date}] rev {rev}</i><br/>
</div>
<div class="log_body">
{desc|strip|escape|addbreaks|nonempty}
<br/>
<br/>
</div>
