#header#
<title>#repo|escape#: Error</title>
<link rel="alternate" type="application/rss+xml"
   href="{url}rss-log" title="RSS feed for #repo|escape#">
</head>
<body>

<div class="page_header">
<a href="http://www.selenic.com/mercurial/" title="Mercurial"><div style="float:right;">Mercurial</div></a><a href="{url}summary{getentries}">#repo|escape#</a> / error
</div>

<div class="page_nav">
<a href="{url}summary{getentries}">summary</a> | <a href="{url}shortlog{getentries}">shortlog</a> | <a href="{url}log{getentries}">changelog</a> | <a href="{url}tags{getentries}">tags</a> | <a href="{url}file/#node|short#{getentries}">manifest</a><br/>
</div>

<div>
<br/>
<i>An error occured while processing your request</i><br/>
<br/>
</div>

#footer#
