{header}
<title>{repo|escape}: diff {file|escape}</title>
<link rel="alternate" type="application/rss+xml"
   href="{url}rss-log" title="RSS feed for {repo|escape}">
</head>
<body>

<div class="page_header">
<a href="http://www.selenic.com/mercurial/" title="Mercurial"><div style="float:right;">Mercurial</div></a><a href="{url}summary{getentries}">{repo|escape}</a> / annotate
</div>

<div class="page_nav">
<a href="{url}summary{getentries}">summary</a> |
<a href="{url}shortlog{getentries}">shortlog</a> |
<a href="{url}log{getentries}">changelog</a> |
<a href="{url}tags{getentries}">tags</a> |
<a href="{url}file/{node|short}{path|urlescape}{getentries}">manifest</a> |
<a href="{url}rev/{node|short}{getentries}">changeset</a> |
<a href="{url}file/{node|short}/{file|urlescape}{getentries}">file</a> |
<a href="{url}log/{node|short}/{file|urlescape}{getentries}">revisions</a> |
<a href="{url}annotate/{node|short}/{file|urlescape}{getantries}">annotate</a> |
diff |
<a href="{url}raw-diff/{node|short}/{file|urlescape}">raw</a><br/>
</div>

<div class="title">{file|escape}</div>

<table>
<tr>
 <td class="metatag">changeset {rev}:</td>
 <td><a href="{url}rev/{node|short}{getentries}">{node|short}</a></td>
</tr>
{parent%filediffparent}
{child%filediffchild}
<tr>
 <td class="metatag">manifest:</td>
 <td><a href="{url}file/{node|short}{getentries}">{node|short}</a></td>
</tr>
</table>

<div class="page_body">
<table>
{diff}
</table>
</div>

{footer}
