<div class="page_footer">
<div class="page_footer_text">#repo|escape#</div>
<a class="rss_logo" href="#url#rss-log">RSS</a> 
<a class="rss_logo" href="#url#atom-log">Atom</a>
<br />
#motd#
</div>
</body>
</html>
