#header#
<title>#repo|escape#: Manifest</title>
<link rel="alternate" type="application/rss+xml"
   href="?cmd=changelog;style=rss" title="RSS feed for #repo|escape#">
</head>
<body>

<div class="page_header">
<a href="http://www.selenic.com/mercurial/" title="Mercurial"><div style="float:right;">Mercurial</div></a><a href="?cmd=summary;style=gitweb">#repo|escape#</a> / manifest
</div>

<div class="page_nav">
<a href="?cmd=summary;style=gitweb">summary</a> | <a href="?cmd=shortlog;style=gitweb">shortlog</a> | <a href="?cmd=changelog;style=gitweb">changelog</a> | <a href="?cmd=tags;style=gitweb">tags</a> | manifest | <a href="?cs=#node|short#;style=gitweb">changeset</a> #archives%archiveentry#<br/>
</div>

<div class="title" >#path|escape#</div>
<div class="page_body">
<table cellspacing="0">
<tr class="light">
<td style="font-family:monospace">drwxr-xr-x</td>
<td><a href="?mf=#node|short#;path=#up|urlescape#;style=gitweb">[up]</a></td>
<td class="link">&nbsp;</td>
</tr>
#dentries%manifestdirentry#
#fentries%manifestfileentry#
</table>
#footer#
