#header#
<div class="page_nav">
<a href="{url}summary{sessionvars%urlparameter}">summary</a> |
<a href="{url}shortlog{sessionvars%urlparameter}">shortlog</a> |
<a href="{url}log{sessionvars%urlparameter}">changelog</a> |
<a href="{url}tags{sessionvars%urlparameter}">tags</a> |
<a href="{url}file/#node|short#{sessionvars%urlparameter}">manifest</a><br/>
</div>

<h2>searching for #query|escape#</h2>

<form action="{url}log">
{sessionvars%hiddenformentry}
search:
<input name="rev" type="text" width="30" value="#query|escape#">
</form>

#entries#

<form action="{url}log">
{sessionvars%hiddenformentry}
search:
<input type="hidden" name="style" value="gitweb">
<input name="rev" type="text" width="30">
</form>

#footer#
