#header#
<title>#repo|escape#: Shortlog</title>
<link rel="alternate" type="application/rss+xml"
   href="{url}rss-log" title="RSS feed for #repo|escape#">
</head>
<body>

<div class="page_header">
<a href="http://www.selenic.com/mercurial/" title="Mercurial"><div style="float:right;">Mercurial</div></a><a href="{url}summary{getentries}">#repo|escape#</a> / shortlog
</div>

<form action="{url}log">
{sessionvars%hiddenformentry}
<div class="search">
<input type="text" name="rev"  />
</div>
</form>
</div>
<div class="page_nav">
<a href="{url}summary{getentries}">summary</a> |
shortlog |
<a href="{url}log/#rev#{getentries}">changelog</a> |
<a href="{url}tags{getentries}">tags</a> |
<a href="{url}file/#node|short#{getentries}">manifest</a>#archives%archiveentry#<br/>
<br/>

#changenav%navshortentry#<br/>
</div>

<table cellspacing="0">
#entries%shortlogentry#
</table>

#footer#
