#header#
<title>#repo|escape#: Summary</title>
<link rel="alternate" type="application/rss+xml"
   href="{url}rss-log" title="RSS feed for #repo|escape#">
</head>
<body>

<div class="page_header">
<a href="http://www.selenic.com/mercurial/" title="Mercurial"><div style="float:right;">Mercurial</div></a><a href="{url}summary{getentries}">#repo|escape#</a> / summary
</div>
<div class="page_nav">
summary |
<a href="{url}shortlog{getentries}">shortlog</a> |
<a href="{url}log{getentries}">changelog</a> |
<a href="{url}tags{getentries}">tags</a> |
<a href="{url}file/#node|short#{getentries}">manifest</a>#archives%archiveentry#
<br/>
</div>

<div class="title">&nbsp;</div>
<table cellspacing="0">
<tr><td>description</td><td>#desc#</td></tr>
<tr><td>owner</td><td>#owner|escape#</td></tr>
<tr><td>last change</td><td>#lastchange|rfc822date#</td></tr>
</table>

<div><a  class="title" href="{url}log{getentries}">changes</a></div>
<table cellspacing="0">
#shortlog#
<tr class="light"><td colspan="3"><a class="list" href="{url}log{getentries}">...</a></td></tr>
</table>

<div><a class="title" href="{url}tags{getentries}">tags</a></div>
<table cellspacing="0">
#tags#
<tr class="light"><td colspan="3"><a class="list" href="{url}tags{getentries}">...</a></td></tr>
</table>

#footer#
