<script type="text/javascript">process_dates()</script>
{motd}
<div class="logo">
<a href="{logourl}">
<img src="{staticurl}{logoimg}" width=75 height=90 border=0 alt="mercurial"></a>
</div>

</body>
</html>
