<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<link rel="icon" href="{staticurl}hgicon.png" type="image/png">
<meta name="robots" content="index, nofollow" />
<link rel="stylesheet" href="{staticurl}style.css" type="text/css" />
<script type="text/javascript" src="{staticurl}mercurial.js"></script>
