{header}
<title>{repo|escape}: files for changeset {node|short}</title>
</head>
<body>

<div class="buttons">
<a href="{url}log/{rev}{sessionvars%urlparameter}">changelog</a>
<a href="{url}shortlog/{rev}{sessionvars%urlparameter}">shortlog</a>
<a href="{url}graph{sessionvars%urlparameter}">graph</a>
<a href="{url}tags{sessionvars%urlparameter}">tags</a>
<a href="{url}branches{sessionvars%urlparameter}">branches</a>
<a href="{url}rev/{node|short}{sessionvars%urlparameter}">changeset</a>
{archives%archiveentry}
<a href="{url}help{sessionvars%urlparameter}">help</a>
</div>

<h2>files for changeset {node|short}: {path|escape}</h2>

<table cellpadding="0" cellspacing="0">
<tr class="parity{upparity}">
  <td><tt>drwxr-xr-x</tt>&nbsp;
  <td>&nbsp;
  <td>&nbsp;
  <td><a href="{url}file/{node|short}{up|urlescape}{sessionvars%urlparameter}">[up]</a>
</tr>
{dentries%direntry}
{fentries%fileentry}
</table>
{footer}
