/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *                                  Imports                                  *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

@import 'variables.css';
@import 'dom.css';
@import 'animations.css';
@import 'formfield.css';
@import 'common.css';
@import 'overlay.css';
@import 'page.css';
@import 'workshop.css';

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *                                Importants                                 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.hidden {
  display: none !important;
}

.disabled {
  pointer-events: none !important;
}

.nowrap {
  white-space: nowrap !important;
  word-break: keep-all !important;
}
