/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *                                    DOM                                    *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

::selection {
  color: var(--focus);
  background: rgba(6 155 250 / 8%);
  text-shadow: none;
}

html {
  color: var(--font-color);
  font: var(--font);
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  /* overflow-y: scroll; */

  /* overflow: hidden; */
}

p {
  line-height: 1.5;
  /* margin: 0 0 1em; */
  margin: 1em 0;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

button,
select,
input {
  font: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: none;
  background: none;
  outline: none;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  appearance: none;
}

button {
  &:not([disabled]) {
    cursor: pointer;
  }
}

input {
  box-shadow: none;
}

select {
  appearance: none;
}

i {
  font-style: normal;
}

strong {
  font-weight: 500;
}

small,
em {
  font: inherit;
}

pre {
  white-space: pre-wrap;
}

code {
  font: var(--code);
  white-space: pre-wrap;
}

blockquote {
  margin: 0 0 0 calc(var(--margin) * 2);
  padding-left: var(--xs);
  border-left: var(--xxs) solid var(--gray-300);
}

hr {
  border: 0;
  border-top: var(--border);
  margin: var(--tile) 0;
  width: 100%;
}

img,
svg,
video {
  max-width: 100%;
  max-height: 100%;
}

figure {
  margin: 0;
}

ul,
ol {
  margin: var(--margin) 0 calc(var(--tile) / 2);
  padding-left: calc(var(--tile) / 2);

  ul,
  ol {
    margin: var(--margin) 0 1em;
  }

  li {
    margin: 1em 0;
    padding-left: var(--xs);
  }
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

iframe {
  border: 0;
}

svg {
  vector-effect: inherit;
}

path {
  fill: inherit;
  transform-origin: center;
  vector-effect: inherit;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  color: inherit;
  font: inherit;
  background: none;
  resize: vertical;
  outline: none;
  border: none;
}

h1 {
  /* font-family: var(--font-cond); */
  /* font-family: var(--font-serif); */
  font-size: 3.5rem;
  /* text-transform: uppercase; */
  line-height: 1.1;
  font-weight: 700;
  margin-top: calc(var(--margin) * 2);
  margin-bottom: calc(var(--xs) / 2);

  /* margin-bottom: var(--xs); */
}

h2 {
  /* font-family: var(--font-cond); */
  /* font-family: var(--font-serif); */
  font-size: 1.75rem;
  /* text-transform: uppercase; */
  line-height: 1.2;
  font-weight: 700;
  margin: 1em 0 var(--xs) 0;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 600;
  margin: 1em 0 var(--xs) 0;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 600;
  margin-top: var(--xs);
  margin-bottom: var(--xs);
}

h5 {
  font-size: 1rem;
  font-weight: 500;
  margin: 1em 0 calc(var(--xs) / 2) 0;
}

h6 {
  font-size: 0.8125em;
  font-weight: 500;
  margin: 0 0 calc(var(--xs) / 2) 0;
}

table {
  width: 100%;
  margin-bottom: var(--margin);
  border-collapse: collapse;

  input {
    border: var(--border);
    padding: var(--xxs);
    width: calc(var(--tile) * 2);
    text-align: right;
  }
}

th,
td {
  /* padding: calc(var(--xs) / 2) var(--xs); */
  /* border: var(--border); */
}

th {
  text-align: center;
  font-weight: 500;
}

td {
  vertical-align: baseline;
}

dd {
  margin: 0;
}
