<script type="text/javascript">process_dates()</script>
<div class="page_footer">
<div class="page_footer_text">{repo|escape}</div>
<div class="rss_logo">
<a href="{url}rss-log">RSS</a>
<a href="{url}atom-log">Atom</a>
</div>
<br />
{motd}
</div>
</body>
</html>
