{header}
<title>{repo|escape}: files</title>
<link rel="alternate" type="application/atom+xml"
   href="{url}atom-log" title="Atom feed for {repo|escape}"/>
<link rel="alternate" type="application/rss+xml"
   href="{url}rss-log" title="RSS feed for {repo|escape}"/>
</head>
<body>

<div class="page_header">
<a href="{logourl}" title="Mercurial" style="float: right;">Mercurial</a><a href="{url}summary{sessionvars%urlparameter}">{repo|escape}</a> / files
</div>

<div class="page_nav">
<a href="{url}summary{sessionvars%urlparameter}">summary</a> |
<a href="{url}shortlog{sessionvars%urlparameter}">shortlog</a> |
<a href="{url}log{sessionvars%urlparameter}">changelog</a> |
<a href="{url}graph{sessionvars%urlparameter}">graph</a> |
<a href="{url}tags{sessionvars%urlparameter}">tags</a> |
<a href="{url}bookmarks{sessionvars%urlparameter}">bookmarks</a> |
<a href="{url}branches{sessionvars%urlparameter}">branches</a> |
files |
<a href="{url}rev/{node|short}{sessionvars%urlparameter}">changeset</a> {archives%archiveentry} |
<a href="{url}help{sessionvars%urlparameter}">help</a>
<br/>
</div>

<div class="title">{path|escape} <span class="logtags">{inbranch%inbranchtag}{branches%branchtag}{tags%tagtag}{bookmarks%bookmarktag}</span></div>
<table cellspacing="0">
<tr class="parity{upparity}">
<td style="font-family:monospace">drwxr-xr-x</td>
<td style="font-family:monospace"></td>
<td style="font-family:monospace"></td>
<td><a href="{url}file/{node|short}{up|urlescape}{sessionvars%urlparameter}">[up]</a></td>
<td class="link">&nbsp;</td>
</tr>
{dentries%direntry}
{fentries%fileentry}
</table>

{footer}
