{header}
<title>{repo|escape}: Tags</title>
<link rel="alternate" type="application/atom+xml"
   href="{url}atom-tags" title="Atom feed for {repo|escape}"/>
<link rel="alternate" type="application/rss+xml"
   href="{url}rss-tags" title="RSS feed for {repo|escape}"/>
</head>
<body>

<div class="page_header">
<a href="{logourl}" title="Mercurial" style="float: right;">Mercurial</a><a href="{url}summary{sessionvars%urlparameter}">{repo|escape}</a> / tags
</div>

<div class="page_nav">
<a href="{url}summary{sessionvars%urlparameter}">summary</a> |
<a href="{url}shortlog{sessionvars%urlparameter}">shortlog</a> |
<a href="{url}log{sessionvars%urlparameter}">changelog</a> |
<a href="{url}graph{sessionvars%urlparameter}">graph</a> |
tags |
<a href="{url}bookmarks{sessionvars%urlparameter}">bookmarks</a> |
<a href="{url}branches{sessionvars%urlparameter}">branches</a> |
<a href="{url}file/{node|short}{sessionvars%urlparameter}">files</a> |
<a href="{url}help{sessionvars%urlparameter}">help</a>
<br/>
</div>

<div class="title">&nbsp;</div>
<table cellspacing="0">
{entries%tagentry}
</table>

{footer}
