#include "WindowsNotifierConstants.h"
/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.

IDI_WNOTIFICATIONICON       ICON         "edenw256.ico"
IDI_ONOTIFICATIONICON       ICON         "edeno256.ico"
IDI_GNOTIFICATIONICON       ICON         "edeng256.ico"
IDI_RNOTIFICATIONICON       ICON         "edenr256.ico"

// Manifest
// 24 == RT_MANIFEST and 1 == exe manifest
#ifdef EDENFS_INCLUDE_MANIFEST
// We only want to include the manifest in the RC file if we're building with
// Buck. This is because CMake does not handle duplicated manifests in a
// graceful way. We end up pulling the resource file into every executable
// that includes notifications, and that causes duplicated manifest errors.
1                           24           "edenfs.exe.manifest"
#endif
