a { text-decoration:none; }
.age { white-space:nowrap; }
.date { white-space:nowrap; }
.indexlinks { white-space:nowrap; }
.parity0 { background-color: #dddddd; }
.parity1 { background-color: #eeeeee; }
.lineno { width: 60px; color: #aaaaaa; font-size: smaller;
          text-align: right; padding-right:1em; }
.plusline { color: green; }
.minusline { color: red; }
.atline { color: purple; }
.annotate { font-size: smaller; text-align: right; padding-right: 1em; }
.buttons a {
  background-color: #666666;
  padding: 2pt;
  color: white;
  font-family: sans;
  font-weight: bold;
}
.navigate a {
  background-color: #ccc;
  padding: 2pt;
  font-family: sans;
  color: black;
}

.metatag {
  background-color: #888888;
  color: white;
  text-align: right;
}

/* Common */
pre { margin: 0; }

.logo {
  background-color: #333;
  padding: 4pt;
  margin: 8pt 0 8pt 8pt;
  font-family: sans;
  font-size: 60%;
  color: white;
  float: right;
  clear: right;
  text-align: left;
}

.logo a {
  font-weight: bold;
  font-size: 150%;
  color: #999;
}

/* Changelog/Filelog entries */
.logEntry { width: 100%; }
.logEntry .age { width: 15%; }
.logEntry th { font-weight: normal; text-align: right; vertical-align: top; }
.logEntry th.age, .logEntry th.firstline { font-weight: bold; }
.logEntry th.firstline { text-align: left; width: inherit; }

/* Shortlog entries */
.slogEntry { width: 100%; }
.slogEntry .age { width: 8em; }
.slogEntry td { font-weight: normal; text-align: left; vertical-align: top; }
.slogEntry td.author { width: 15em; }

/* Tag entries */
#tagEntries { list-style: none; margin: 0; padding: 0; }
#tagEntries .tagEntry { list-style: none; margin: 0; padding: 0; }

/* Changeset entry */
#changesetEntry { }
#changesetEntry th { font-weight: normal; background-color: #888; color: #fff; text-align: right; }
#changesetEntry th.files, #changesetEntry th.description { vertical-align: top; }

/* File diff view */
#filediffEntry { }
#filediffEntry th { font-weight: normal; background-color: #888; color: #fff; text-align: right; }

