    <div class="page-footer">
        <p>Mercurial Repository: {repo|escape}</p>
        <ul class="rss-logo">
            <li><a href="{url}rss-log">RSS</a></li>
            <li><a href="{url}atom-log">Atom</a></li>
        </ul>
        {motd}
    </div>

    <div id="powered-by">
        <p><a href="http://mercurial.selenic.com/" title="Mercurial"><img src="{staticurl}hglogo.png" width=75 height=90 border=0 alt="mercurial"></a></p>
    </div>

    <div id="corner-top-left"></div>
    <div id="corner-top-right"></div>
    <div id="corner-bottom-left"></div>
    <div id="corner-bottom-right"></div>

</div>

</body>
</html>
