*.elc
*.tmp
*.orig
*.rej
*~
*.mergebackup
*.o
*.so
*.dll
*.exe
*.pdb
*.pyd
*.pyc
*.pyo
*.swp
*.prof
*.zip
.cargo/config
.shim/
tests/.coverage*
tests/.testtimes*
tests/comprehensive/.testtimes*
fb/tests/.testtimes*
tests/.hypothesis
tests/hypothesis-generated
tests/annotated
tests/exceptions
tests/*.err
fb/tests/*.err
tests/htmlcov
tests/getdb.sh
contrib/chg/chg
contrib/chg/libchg.a
contrib/hgsh/hgsh
contrib/vagrant/.vagrant
contrib/docker/debian-*
contrib/docker/ubuntu-*
dist
packages
doc/common.txt
doc/*.[0-9]
doc/*.[0-9].txt
doc/*.[0-9].gendoc.txt
doc/*.[0-9].xml
doc/*.[0-9].html
MANIFEST
MANIFEST.in
patches
edenscm/mercurial/__modulepolicy__.py
edenscm/mercurial/__version__.py
edenscm/mercurial/hgpythonlib.h
edenscm/mercurial.egg-info
.DS_Store
tags
cscope.*
.idea/
.asv/
i18n/hg.pot
edenscm/mercurial/locale/*/LC_MESSAGES/hg.mo
edenscm/hgext/__index__.py
edenscmnative/clindex.c
edenscmnative/linelog.c
edenscmnative/litemmap.c
edenscmnative/patchrmdir.c
edenscmnative/traceprof.cpp

# Build output
build
debbuild/
rpmbuild/

# Rust libraries and extensions
Cargo.lock
target/

# Generated wheels
wheelhouse/

*.pc/

# hackable windows distribution additions
hg-python
hg.py

# mercurial binary
hg

# make-local Windows artifacts
hgrc.d
make.bat
mercurial.ini
