# Worktrees
.worktrees/

# Buck
/.buckconfig.local
/.buckd
/.buckjavaargs
/.nobuckcheck
/buck-out
/external
# cmake
/_build

# Rust libraries and extensions
Cargo.lock
target/

# Getdeps
/eden/mononoke/tests/integration/getdeps_build.log
/build/Testing/Temporary/LastTest.log
