include hg
recursive-include mercurial *.py
include tkmerge
include hgweb.cgi
include hgeditor rewrite-log convert-repo
include tests/*
include *.txt
include templates/map
include templates/*.tmpl
include doc/*
include README
