include hg
recursive-include mercurial *.py
include hgweb.cgi hgwebdir.cgi
include hgeditor rewrite-log
include tests/README tests/*.py tests/test-*[a-z0-9] tests/*.out tests/*.bin
prune tests/*.err
include *.txt
include doc/README doc/Makefile doc/gendoc.py doc/*.txt doc/*.html doc/*.[0-9]
recursive-include templates *
recursive-include contrib *
recursive-include hgext *
include README
include CONTRIBUTORS
include COPYING
include Makefile
include MANIFEST.in
prune *.elc *.orig *.rej *~ *.o *.so *.pyc *.swp *.prof
