{header}
 <id>{urlbase}{url}</id>
 <link rel="self" href="{urlbase}{url}atom-tags"/>
 <link rel="alternate" href="{urlbase}{url}tags"/>
 <title>{repo|escape}: tags</title>
 <summary>{repo|escape} tag history</summary>
 <author><name>Mercurial SCM</name></author>
 {latestentry%feedupdated}

{entriesnotip%tagentry}
</feed>
