changeset:   {node}
user:        {user}
date:        {age}
summary:     {desc}
{branches%branchname}{tags%tagname}{bookmarks%bookmarkname}
node:        ({col}, {row}) (color {color})
{edges%graphedge}
