<table class="slogEntry parity#parity#">
 <tr>
  <td class="age">#date|age#</td>
  <td class="author">#author|obfuscate#</td>
  <td class="node"><a href="?cs=#node|short#">#desc|strip|firstline|escape#</a></td>
 </tr>
</table>
