<item>
    <title>#desc|strip|firstline|strip|escape#</title>
    <link>{urlbase}{url}rev/{node|short}</link>
    <description><![CDATA[#desc|strip|escape|addbreaks#]]></description>
    <author>#author|obfuscate#</author>
    <pubDate>#date|rfc822date#</pubDate>
</item>
