[package]
name = "tunables"
edition = "2018"
version = "0.1.0"
authors = ['Facebook']
license = "GPLv2+"
include = ["src/**/*.rs"]

[dependencies]
tunables-derive = { path = "tunables-derive" }
tunables_structs = { path = "../../../configerator/structs/scm/mononoke/tunables" }
cached_config = { git = "https://github.com/facebookexperimental/rust-shed.git", branch = "master" }
anyhow = "1.0"
arc-swap = "0.4"
futures = { version = "0.3.5", features = ["async-await", "compat"] }
once_cell = "1.4"
serde_json = "1.0"
slog = { version = "2.5", features = ["max_level_debug"] }

[dev-dependencies]
fbinit = { git = "https://github.com/facebookexperimental/rust-shed.git", branch = "master" }
tokio-compat = "0.1"
