[package]
name = "pyindexes"
version = "0.1.0"
edition = "2018"

[features]
default = ["python2"]
python2 = []
python3 = []

[dependencies]
cpython-ext = { path = "../../../../lib/cpython-ext" }
radixbuf = { path = "../../../../lib/radixbuf" }
anyhow = "1.0.20"
thiserror = "1.0.5"

[dependencies.cpython]
version = "0.3"
default-features = false
features = ["python27-sys"]

[dependencies.python27-sys]
version = "0.3"
