*.elc
*.tmp
*.orig
*.rej
*~
*.mergebackup
*.o
*.so
*.dll
*.exe
*.pdb
*.pyd
*.pyc
*.pyo
*.swp
*.prof
*.zip
.cargo/config
.cargo/config.toml
.shim/
tests/.coverage*
tests/.test*
tests/comprehensive/.test*
fb/tests/.test*
tests/.hypothesis
tests/hypothesis-generated
tests/annotated
tests/exceptions
tests/*.err
fb/tests/*.err
tests/htmlcov
tests/getdb.sh
tests/testutil/getdb.py
tests/__pycache__/
contrib/chg/chg
contrib/chg/libchg.a
contrib/hgsh/hgsh
contrib/vagrant/.vagrant
contrib/docker/debian-*
contrib/docker/ubuntu-*
dist
packages
doc/common.txt
doc/*.[0-9]
doc/*.[0-9].txt
doc/*.[0-9].gendoc.txt
doc/*.[0-9].xml
doc/*.[0-9].html
!Makefile
MANIFEST
MANIFEST.in
patches
sapling/__modulepolicy__.py
sapling/__version__.py
sapling/hgpythonlib.h
sapling/mercurial.egg-info
.DS_Store
tags
cscope.*
.idea/
.asv/
i18n/hg.pot
sapling/locale/*/LC_MESSAGES/hg.mo
sapling/hgext/__index__.py
saplingnative/clindex.c
saplingnative/linelog.c
saplingnative/litemmap.c
saplingnative/patchrmdir.c
saplingnative/traceprof.cpp

# Build output
build
debbuild/
install/
.pytype/
rpmbuild/
getdeps_build.log
/isl-dist.tar.xz

# Rust libraries and extensions
Cargo.lock
target/

# Generated wheels
wheelhouse/

*.pc/

# hackable windows distribution additions
hg-python
hg.py

# scm binary
hg
hg3
sl

# make-local Windows artifacts
hgrc.d
make.bat
mercurial.ini
