{header}
<title>{repo|escape}: diff {file|escape}</title>
    <link rel="alternate" type="application/atom+xml" href="{url}atom-log" title="Atom feed for {repo|escape}"/>
    <link rel="alternate" type="application/rss+xml" href="{url}rss-log" title="RSS feed for {repo|escape}"/>
</head>

<body>
<div id="container">
    <div class="page-header">
        <h1><a href="{url}summary{sessionvars%urlparameter}">{repo|escape}</a> / file diff</h1>

        <form action="{url}log">
            {sessionvars%hiddenformentry}
            <dl class="search">
                <dt><label>Search: </label></dt>
                <dd><input type="text" name="rev" /></dd>
            </dl>
        </form>

        <ul class="page-nav">
            <li><a href="{url}summary{sessionvars%urlparameter}">summary</a></li>
            <li><a href="{url}shortlog{sessionvars%urlparameter}">shortlog</a></li>
            <li><a href="{url}log{sessionvars%urlparameter}">changelog</a></li>
            <li><a href="{url}graph/{node|short}{sessionvars%urlparameter}">graph</a></li>
            <li><a href="{url}tags{sessionvars%urlparameter}">tags</a></li>
            <li><a href="{url}bookmarks{sessionvars%urlparameter}">bookmarks</a></li>
            <li><a href="{url}branches{sessionvars%urlparameter}">branches</a></li>
            <li><a href="{url}file/{node|short}{path|urlescape}{sessionvars%urlparameter}">files</a></li>
            <li><a href="{url}help{sessionvars%urlparameter}">help</a></li>
        </ul>
    </div>

    <ul class="submenu">
        <li><a href="{url}file/{node|short}/{file|urlescape}{sessionvars%urlparameter}">file</a></li>
        <li><a href="{url}log/{node|short}/{file|urlescape}{sessionvars%urlparameter}">revisions</a></li>
        <li><a href="{url}annotate/{node|short}/{file|urlescape}{sessionvars%urlparameter}">annotate</a></li>
        <li class="current">diff</li>
        <li><a href="{url}raw-diff/{node|short}/{file|urlescape}">raw</a></li>
    </ul>

    <h2 class="no-link no-border">diff: {file|escape}</h2>
    <h3 class="changeset">{file|escape}</h3>

    <dl class="overview">
        {branch%filerevbranch}
        <dt>changeset {rev}</dt>
        <dd><a href="{url}rev/{node|short}{sessionvars%urlparameter}">{node|short}</a></dd>
        {parent%filediffparent}
        {child%filediffchild}
    </dl>

    <div class="diff">
    {diff}
    </div>

{footer}
