{header}
    <title>{repo|escape}: Mercurial repository not found</title>
    <link rel="alternate" type="application/atom+xml" href="{url|urlescape}atom-log" title="Atom feed for {repo|escape}"/>
    <link rel="alternate" type="application/rss+xml" href="{url|urlescape}rss-log" title="RSS feed for {repo|escape}"/>
</head>

<body>
<div id="container">
    <div class="page-header">
        <h1 class="breadcrumb"><a href="/">Mercurial</a> {pathdef%breadcrumb} / not found: {repo|escape}</h1>

        <form action="{url|urlescape}log">
            {sessionvars%hiddenformentry}
            <dl class="search">
                <dt><label>Search: </label></dt>
                <dd><input type="text" name="rev" /></dd>
            </dl>
        </form>

        <ul class="page-nav">
            <li class="current">summary</li>
            <li><a href="{url|urlescape}shortlog{sessionvars%urlparameter}">shortlog</a></li>
            <li><a href="{url|urlescape}log{sessionvars%urlparameter}">changelog</a></li>
            <li><a href="{url|urlescape}graph{sessionvars%urlparameter}">graph</a></li>
            <li><a href="{url|urlescape}tags{sessionvars%urlparameter}">tags</a></li>
            <li><a href="{url|urlescape}bookmarks{sessionvars%urlparameter}">bookmarks</a></li>
            <li><a href="{url|urlescape}branches{sessionvars%urlparameter}">branches</a></li>
            <li><a href="{url|urlescape}file{sessionvars%urlparameter}">files</a></li>
            {archives%archiveentry}
            <li><a href="{url|urlescape}help{sessionvars%urlparameter}">help</a></li>
        </ul>
    </div>

    <h2 class="no-link no-border">Not Found</h2>
    <p class="normal">The specified repository "{repo|escape}" is unknown, sorry.</p>
    <p class="normal">Please go back to the <a href="{url|urlescape}">main repository list page</a>.</p>

{footer}
