[package]
name = "sshrelay"
edition = "2018"
version = "0.1.0"
authors = ['Facebook']
license = "GPLv2+"
include = ["src/**/*.rs"]

[dependencies]
session_id = { path = "../server/session_id" }
futures_ext = { git = "https://github.com/facebookexperimental/rust-shed.git", branch = "master" }
netstring = { git = "https://github.com/facebookexperimental/rust-shed.git", branch = "master" }
anyhow = "1.0"
bytes = { version = "0.5", features = ["serde"] }
bytes-old = { package = "bytes", version = "0.4", features = ["serde"] }
futures = "0.1"
maplit = "1.0"
serde = { version = "1.0", features = ["derive", "rc"] }
serde_json = "1.0"
tokio-util = "0.2"
