._*
.vscode/
/isl/build/
/isl/coverage/
/isl/public/generated
/isl-server/coverage/
/isl-server/dist/
/isl-server/src/__generated__/
/isl-server/src/facebook/phabricator/generated/
/isl-server/src/facebook/fullRepoBranch/generated/
/isl-server/src/github/generated/
/isl-server/src/__generated__/
/vscode/coverage/
/vscode/dist/
/vscode-build
/vscode/extension/dist
/textmate/dist/
/shared/third-party/github/schema.docs.graphql
/shared/coverage
/components/coverage
