<li data-node="{node|short}">
 <span class="desc">
  <a class="list" href="{url|urlescape}rev/{node|short}{sessionvars%urlparameter}"><b>{desc|strip|firstline|escape|nonempty}</b></a>
 </span>
 {alltags}
 <span class="info">{date|age}, by {author|person}</span>
</li>
