[package]
name = "hgmain"
version = "0.1.0"
edition = "2018"
build = "build.rs"

[features]
default = []
python2 = ["hgcommands/python2"]
python3 = ["hgcommands/python3"]
buildinfo = []
with_chg = ["dirs"]

[dependencies]
libc = "0.2"
dirs = { version = "1.0", optional = true }
clidispatch = { path = "../../lib/clidispatch" }
cliparser = { path = "../../lib/cliparser" }
configparser = { path = "../../lib/configparser" }
hgcommands = { path = "../../lib/hgcommands", default-features = false }
pyblackbox = { path = "../../edenscmnative/bindings/modules/pyblackbox" }

[target.'cfg(windows)'.dependencies]
anyhow = "1.0.20"
winapi = {version = "0.3.7", features = ["handleapi", "processenv", "winbase"]}

[dependencies.encoding]
path = "../../lib/encoding"


[profile.release]
debug = true
incremental = true
lto = false
