[package]
name = "pygitstore"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0.20"
cpython_ext = { path = "../../../../lib/cpython-ext", default-features = false }
cpython = { version = "0.7", default-features = false }
gitstore = { path = "../../../../lib/gitstore" }
storemodel = { path = "../../../../lib/storemodel" }

[features]
python3 = ["cpython/python3-sys", "cpython_ext/python3"]
