{header}
<title>Mercurial repositories index</title>
</head>
<body>

<div class="container">
<div class="menu">
<a href="http://mercurial.selenic.com/">
<img src="{staticurl}hglogo.png" width=75 height=90 border=0 alt="mercurial" /></a>
</div>
<div class="main">
<h2>Mercurial Repositories</h2>

<table class="bigtable">
    <tr>
        <th><a href="?sort={sort_name}">Name</a></th>
        <th><a href="?sort={sort_description}">Description</a></th>
        <th><a href="?sort={sort_contact}">Contact</a></th>
        <th><a href="?sort={sort_lastchange}">Last modified</a></th>
        <th>&nbsp;</th>
    </tr>
    {entries%indexentry}
</table>
</div>
</div>
{footer}
