 <tr class="parity{parity}">
  <td class="age">{date|age}</td>
  <td class="author">{author|person}</td>
  <td class="description"><a href="{url}rev/{node|short}{sessionvars%urlparameter}">{desc|strip|firstline|escape|nonempty}</a>{inbranch%changelogbranchname}{branches%changelogbranchhead}{tags%changelogtag}</td>
 </tr>
