 <tr class="parity{parity}">
  <td class="age">{age(date)}</td>
  <td class="author">{author|person}</td>
  <td class="description"><a href="{url}rev/{node|short}{sessionvars%urlparameter}">{desc|strip|firstline|escape|nonempty}</a>{inbranch%changelogbranchname}{branches%changelogbranchhead}{tags % '<span class="tag">{name|escape}</span> '}</td>
 </tr>
