{header}
<title>{repo|escape}: log</title>
<link rel="alternate" type="application/atom+xml"
   href="{url}atom-log" title="Atom feed for {repo|escape}" />
<link rel="alternate" type="application/rss+xml"
   href="{url}rss-log" title="RSS feed for {repo|escape}" />
</head>
<body>

<div class="container">
<div class="menu">
<div class="logo">
<a href="{logourl}">
<img src="{staticurl}{logoimg}" alt="mercurial" /></a>
</div>
<ul>
<li class="active">log</li>
<li><a href="{url}graph/{node|short}{sessionvars%urlparameter}">graph</a></li>
<li><a href="{url}tags{sessionvars%urlparameter}">tags</a></li>
<li><a href="{url}bookmarks{sessionvars%urlparameter}">bookmarks</a></li>
<li><a href="{url}branches{sessionvars%urlparameter}">branches</a></li>
</ul>
<ul>
<li><a href="{url}rev/{node|short}{sessionvars%urlparameter}">changeset</a></li>
<li><a href="{url}file/{node|short}{path|urlescape}{sessionvars%urlparameter}">browse</a></li>
</ul>
<ul>
{archives%archiveentry}
</ul>
<ul>
 <li><a href="{url}help{sessionvars%urlparameter}">help</a></li>
</ul>
</div>

<div class="main">
<h2><a href="{url}{sessionvars%urlparameter}">{repo|escape}</a></h2>
<h3>log</h3>

<form class="search" action="{url}log">
{sessionvars%hiddenformentry}
<p><input name="rev" id="search1" type="text" size="30" /></p>
<div id="hint">find changesets by author, revision,
files, or words in the commit message</div>
</form>

<div class="navigate">
<a href="{url}shortlog/{rev}{lessvars%urlparameter}">less</a>
<a href="{url}shortlog/{rev}{morevars%urlparameter}">more</a>
| rev {rev}: {changenav%navshort}
</div>

<table class="bigtable">
 <tr>
  <th class="age">age</th>
  <th class="author">author</th>
  <th class="description">description</th>
 </tr>
{entries%shortlogentry}
</table>

<div class="navigate">
<a href="{url}shortlog/{rev}{lessvars%urlparameter}">less</a>
<a href="{url}shortlog/{rev}{morevars%urlparameter}">more</a>
| rev {rev}: {changenav%navshort}
</div>

</div>
</div>

{footer}
