<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include guids.wxi ?>
  <?include defines.wxi ?>

  <Fragment>
    <DirectoryRef Id="INSTALLDIR" FileSource="$(var.SourceDir)">
      <Component Id="distOutput" Guid="$(var.dist.guid)" Win64='$(var.IsX64)'>
        <File Name="library.zip" KeyPath="yes" />
        <File Name="mercurial.base85.pyd" />
        <File Name="mercurial.bdiff.pyd" />
        <File Name="mercurial.diffhelpers.pyd" />
        <File Name="mercurial.mpatch.pyd" />
        <File Name="mercurial.osutil.pyd" />
        <File Name="mercurial.parsers.pyd" />
        <File Name="pyexpat.pyd" />
        <File Name="python26.dll" />
        <File Name="bz2.pyd" />
        <File Name="select.pyd" />
        <File Name="unicodedata.pyd" />
        <File Name="_ctypes.pyd" />
        <File Name="_elementtree.pyd" />
        <File Name="_hashlib.pyd" />
        <File Name="_socket.pyd" />
        <File Name="_ssl.pyd" />
      </Component>
    </DirectoryRef>
  </Fragment>

</Wix>
