#header#
<title>#repo|escape#: Changeset</title>
<link rel="alternate" type="application/rss+xml"
   href="?cmd=changelog;style=rss" title="RSS feed for #repo|escape#">
</head>
<body>

<div class="page_header">
<a href="http://www.selenic.com/mercurial/" title="Mercurial"><div style="float:right;">Mercurial</div></a><a href="?cmd=summary;style=gitweb">#repo|escape#</a> / changeset
</div>

<div class="page_nav">
<a href="?cmd=summary;style=gitweb">summary</a> | <a href="?cmd=changelog;rev=#rev#;style=gitweb">changelog</a> | <a href="?cmd=tags;style=gitweb">tags</a> | <a href="?cmd=manifest;manifest=#manifest#;path=/;style=gitweb">manifest</a> | changeset | <a href="?cmd=changeset;node=#node#;style=raw">raw</a> #archives%archiveentry#<br/>
</div>

<div>
<a class="title" href="?cmd=changeset;node=#node#;style=raw">#desc|escape|firstline#</a>
</div>
<div class="title_text">
<table cellspacing="0">
<tr><td>author</td><td>#author|obfuscate#</td></tr>
<tr><td></td><td>#date|date# (#date|age# ago)</td></tr>
<tr><td>changeset</td><td style="font-family:monospace">#node|short#</td></tr>
<tr><td>manifest</td><td style="font-family:monospace"><a class="list" href="?cmd=manifest;manifest=#manifest|short#;path=/;style=gitweb">#manifest|short#</a></td></tr>
#parent%changesetparent#
#child%changesetchild#
#changesettag#
</table></div>

<div class="title_text">
#desc|addbreaks#
</div>

<div class="title_text">
<table cellspacing="0">
#files#
</table></div>

<div class="page_body">#diff#</div>

#footer#
