<item>
    <title>#desc|firstline|escape#</title>
    <link>#url#?cmd=changeset;node=#node#</link>
    <description><![CDATA[#desc|escape|addbreaks#]]></description>
    <author>#author|obfuscate#</author>
    <pubDate>#date|rfc822date#</pubDate>
</item>
