<table summary="" width="100%" border="1">
    <tr>
        <td valign="top" width="10%">author:</td>
        <td valign="top" width="20%%">#author#</td>
        <td valign="top" width="10%">description:</td>
        <td width="60%">
            <a href="?cmd=chkin;nd=#revnode#">#desc#</a>
        </td>
    </tr>
    <tr>
        <td>date:</td>
        <td>#date# UTC</td>
        <td valign="top">files:</td>
        <td valign="top">#files#</td>
    </tr>
    <tr>
        <td>revision:</td>
        <td colspan="3">
            #revnum#:<a href="?cmd=chkin;nd=#revnode#">#revnode#</a>
        </td>
    </tr>
</table>
<br />

