<tr>
 <td align=right width="15%"><b>#age# ago:</b></td>
 <td><b>#shortdesc#</b></td</tr>
<tr>
 <td align=right>revision:</td>
 <td><a href="?cmd=changeset;node=#node#">#rev#:#node#</a></td></tr>
<tr>
 <td align=right>parent:</td>
 <td><a href="?cmd=changeset;node=#p1#">#p1rev#:#p1#</a></td></tr>
<tr>
 <td align=right>parent:</td>
 <td><a href="?cmd=changeset;node=#p2#">#p2rev#:#p2#</a></td></tr>
<tr>
 <td align=right>manifest:</td>
 <td><a href="?cmd=manifest;manifest=#manifest#;path=/">#rev#:#manifest#</a></td></tr>
<tr>
 <td align=right>author:</td>
 <td>#author#</td></tr>
<tr>
 <td align=right>date:</td>
 <td>#date#</td></tr>
<tr>
 <td align=right valign=top>files:</td>
 <td>#files#</td></tr>


