#header#
<title>#repo|escape#: changelog</title>
</head>
<body>

<div class="buttons">
<a href="?cmd=tags">tags</a>
<a href="?cmd=manifest;manifest=#manifest#;path=/">manifest</a>
</div>

<h2>changelog for #repo|escape#</h2>

<form>
search:
<input type="hidden" name="cmd" value="changelog">
<input name="rev" type="text" width="30">
navigate: <small>#changenav#</small><br/>
</form>

#entries#

<form>
search:
<input type="hidden" name="cmd" value="changelog">
<input name="rev" type="text" width="30">
navigate: <small>#changenav#</small><br/>
</form>

#footer#
