<table class="changelogEntry parity#parity#">
 <tr>
  <th class="age" width="15%">#date|age# ago:</th>
  <th class="firstline">#desc|firstline|escape#</th>
 </tr>
 <tr>
  <th class="changesetRev">changeset #rev#:</th>
  <td class="changesetNode"><a href="?cs=#node|short#">#node|short#</a></td>
 </tr>
 #parent#
 #changelogtag#
 <tr>
  <th class="author">author:</th>
  <td class="author">#author|obfuscate#</td>
 </tr>
 <tr>
  <th class="date">date:</th>
  <td class="date">#date|date#</td>
 </tr>
 <tr>
  <th class="files"><a href="?mf=#manifest|short#;path=/">files</a>:</th>
  <td class="files">#files#</td>
 </tr>
</table>
