<item>
    <title>#desc|firstline|escape#</title>
    <link>http://127.0.0.1:8000/?cmd=changeset;node=#node#"</link>
    <description>#desc|escape|addbreaks#</description>
    <author>#author|obfuscate#</author>
    <pubDate>#date|rfc822date#</pubDate>
</item>
