<table summary="" width="100%" border="1">
    <tr>
        <td>revision:</td>
        <td colspan="3">
            #revnum#: <a href="?cmd=chkin;nd=#revnode#">#revnode#</a>
        </td>
    </tr>
    <tr>
        <td>parent(s):</td>
        <td colspan="3">
            #p1num#:
            <a href="?cmd=chkin;nd=#p1node#">#p1node#</a>
            &nbsp;&nbsp;#p2num#:#p2link#
        </td>
    </tr>
    <tr>
        <td>manifest:</td>
        <td colspan="3">
            #mfnum#: <a href="?cmd=mf;nd=#mfnode#">#mfnode#</a>
        </td>
    </tr>
    <tr>
        <td valign="top" width="10%">author:</td>
        <td valign="top" width="20%%">#author#</td>
        <td valign="top" width="10%">description:</td>
        <td width="60%"><a href="?cmd=chkin;nd=#revnode#">#desc#</a></td>
    </tr>
    <tr>
        <td valign="top">date:</td>
        <td valign="top">#date# UTC</td>
        <td valign="top">files:</td>
        <td valign="top">#files#</td>
    </tr>
</table>
<br />
