#header#
<title>#repo|escape#: #file|escape# history</title>
<link rel="alternate" type="application/rss+xml"
   href="?fl=0;file=#file|urlescape#;style=rss" title="RSS feed for #repo|escape#:#file#">
</head>
</head>
<body>

<div class="buttons">
<a href="?cl=tip">changelog</a>
<a href="?sl=tip">shortlog</a>
<a href="?tags=">tags</a>
<a href="?f=#node|short#;file=#file|urlescape#">file</a>
<a href="?fa=#node|short#;file=#file|urlescape#">annotate</a>
<a type="application/rss+xml" href="?fl=0;file=#file|urlescape#;style=rss">rss</a>
</div>

<h2>#file|escape# revision history</h2>

#entries%filelogentry#

#footer#
