#header#
<title>#repo|escape#: #file# diff</title>
</head>
<body>

<div class="buttons">
<a href="?cmd=changelog;rev=#rev#">changelog</a>
<a href="?cmd=tags">tags</a>
<a href="?cmd=changeset;node=#node#">changeset</a>
<a href="?cmd=file;file=#file#;filenode=#filenode#">file</a>
<a href="?cmd=filelog;file=#file#;filenode=#filenode#">revisions</a>
<a href="?cmd=annotate;file=#file#;filenode=#filenode#">annotate</a>
<a href="?cmd=filediff;file=#file#;node=#node#;style=raw">raw</a>
</div>

<h2>#file#</h2>

<table id="filediffEntry">
<tr>
 <th class="revision">revision #rev#:</th>
 <td class="revision"><a href="?cmd=changeset;node=#node#">#node|short#</a></td>
</tr>
#parent#
</table>

<div id="fileDiff">
#diff#
</div>

#footer#


