#header#
<title>#repo|escape#: #file# history</title>
<link rel="alternate" type="application/rss+xml"
   href="?cmd=filelog;file=#file#;filenode=0;style=rss" title="RSS feed for #repo|escape#:#file#">
</head>
</head>
<body>

<div class="buttons">
<a href="?cmd=changelog">changelog</a>
<a href="?cmd=tags">tags</a>
<a href="?cmd=file;file=#file#;filenode=#filenode#">file</a>
<a href="?cmd=annotate;file=#file#;filenode=#filenode#">annotate</a>
<a type="application/rss+xml" href="?cmd=filelog;file=#file#;filenode=0;style=rss">rss</a>
</div>

<h2>#file# revision history</h2>

#entries%filelogentry#

#footer#
