#header#
<title>#repo|escape#: #file|escape# annotate</title>
</head>
<body>

<div class="buttons">
<a href="#url#log/#rev#{getentries}">changelog</a>
<a href="#url#shortlog/#rev#{getentries}">shortlog</a>
<a href="#url#tags{getentries}">tags</a>
<a href="#url#rev/#node|short#{getentries}">changeset</a>
<a href="#url#file/#node|short##path|urlescape#{getentries}">manifest</a>
<a href="#url#file/#node|short#/#file|urlescape#{getentries}">file</a>
<a href="#url#log/#node|short#/#file|urlescape#{getentries}">revisions</a>
<a href="#url#raw-annotate/#node|short#/#file|urlescape#">raw</a>
</div>

<h2>Annotate #file|escape#</h2>

<table>
<tr>
 <td class="metatag">changeset #rev#:</td>
 <td><a href="#url#rev/#node|short#{getentries}">#node|short#</a></td></tr>
#rename%filerename#
#parent%fileannotateparent#
#child%fileannotatechild#
<tr>
 <td class="metatag">author:</td>
 <td>#author|obfuscate#</td></tr>
<tr>
 <td class="metatag">date:</td>
 <td>#date|date# (#date|age# ago)</td></tr>
<tr>
 <td class="metatag">permissions:</td>
 <td>#permissions|permissions#</td></tr>
</table>

<br/>

<table cellspacing="0" cellpadding="0">
#annotate%annotateline#
</table>

#footer#
