<table class="parity#parity#" width="100%" cellspacing="0" cellpadding="0">
<tr>
 <td align="right" width="15%"><b>#date|age# ago:&nbsp;</b></td>
 <td><b><a href="?cs=#node|short#">#desc|strip|firstline|escape#</a></b></td></tr>
<tr>
 <td align="right">revision #filerev#:&nbsp;</td>
 <td><a href="?f=#filenode|short#;file=#file|urlescape#">#filenode|short#</a>
<a href="?fd=#node|short#;file=#file|urlescape#">(diff)</a>
<a href="?fa=#filenode|short#;file=#file|urlescape#">(annotate)</a>
</td></tr>
#rename%filelogrename#
<tr>
 <td align="right">author:&nbsp;</td>
 <td>#author|obfuscate#</td></tr>
<tr>
 <td align="right">date:&nbsp;</td>
 <td>#date|date# (#date|age# ago)</td></tr>
</table>


