Content-type: text/html

<html>
<body>

<a href="?cmd=changelog&rev=#rev#">changelog</a>
<a href="?cmd=changeset&node=#node#">changeset</a>
<a href="?cmd=manifest&manifest=#manifest#;path=#path#">manifest</a>
<a href="?cmd=filelog&file=#file#;filenode=#filenode#">revisions</a>
<a href="?cmd=annotate&file=#file#&filenode=#filenode#">annotate</a>

<h2>#file# (revision #filenode#)</h2>

<table>
<tr>
 <td align=right>changeset:</td>
 <td><a href="?cmd=changeset;node=#node#">#rev#:#node#</a></td></tr>
<tr>
 <td align=right>parent:</td>
 <td><a href="?cmd=file;file=#file#;node=#p1#">#p1rev#:#p1#</a></td></tr>
<tr>
 <td align=right>parent:</td>
 <td><a href="?cmd=file;file=#file#;node=#p2#">#p2rev#:#p2#</a></td></tr>
<tr>
 <td align=right>manifest:</td>
 <td><a href="?cmd=manifest;manifest=#manifest#;path=/">#rev#:#manifest#</a></td></tr>
<tr>
 <td align=right>author:</td>
 <td>#author#</td></tr>
<tr>
 <td align=right>date:</td>
 <td>#date#</td></tr>
</table>

<hr />

<pre>
#text#
</pre>

</body>
</html>