<table class="parity#parity#" width="100%" cellspacing="0" cellpadding="0">
<tr>
 <td align="right" width="15%"><b>#date|age# ago:&nbsp;</b></td>
 <td><b><a href="?cmd=changeset;node=#node#">#desc|firstline|escape#</a></b></td></tr>
<tr>
 <td align="right">revision #filerev#:&nbsp;</td>
 <td><a href="?cmd=file;file=#file#;filenode=#filenode#">#filenode#</a>
<a href="?cmd=filediff;file=#file#;node=#node#">(diff)</a>
<a href="?cmd=annotate;file=#file#;filenode=#filenode#">(annotate)</a>
</td></tr>
<tr>
 <td align="right">author:&nbsp;</td>
 <td>#author|obfuscate#</td></tr>
<tr>
 <td align="right">date:&nbsp;</td>
 <td>#date|date# (#date|age# ago)</td></tr>
</table>


