<item>
    <title>#desc|firstline|escape#</title>
    <link>#url#?cmd=file;file=#file#;filenode=#filenode#</link>
    <description><![CDATA[#desc|escape|addbreaks#]]></description>
    <author>#author|obfuscate#</author>
    <pubDate>#date|rfc822date#</pubDate>>
</item>
