#header#
<title>#repo#: #file# history</title>
</head>
<body>

<div class="buttons">
<a href="?cmd=changelog">changelog</a>
<a href="?cmd=file;file=#file#;filenode=#filenode#">file</a>
<a href="?cmd=annotate;file=#file#;filenode=#filenode#">annotate</a>
</div>

<h2>#file# revision history</h2>

#entries#

#footer#
