#header#
<title>#repo|escape#: #file# annotate</title>
</head>
<body>

<div class="buttons">
<a href="?cl=#rev#">changelog</a>
<a href="?tags=">tags</a>
<a href="?cs=#node|short#">changeset</a>
<a href="?mf=#manifest|short#;path=#path#">manifest</a>
<a href="?f=#filenode|short#;file=#file#">file</a>
<a href="?fl=#filenode|short#;file=#file#">revisions</a>
</div>

<h2>Annotate #file#</h2>

<table>
<tr>
 <td class="metatag">changeset #rev#:</td>
 <td><a href="?cs=#node|short#">#node|short#</a></td></tr>
#parent%fileannotateparent#
#child%fileannotatechild#
<tr>
 <td class="metatag">author:</td>
 <td>#author|obfuscate#</td></tr>
<tr>
 <td class="metatag">date:</td>
 <td>#date|date# (#date|age# ago)</td></tr>
<tr>
 <td class="metatag">permissions:</td>
 <td>#permissions|permissions#</td></tr>
</table>

<br/>

<table cellspacing="0" cellpadding="0">
#annotate%annotateline#
</table>

#footer#
