#header#
<title>#repo|escape#: #file|escape# diff</title>
</head>
<body>

<div class="buttons">
<a href="#url#log/#rev#">changelog</a>
<a href="#url#shortlog/#rev#">shortlog</a>
<a href="#url#tags">tags</a>
<a href="#url#rev/#node|short#">changeset</a>
<a href="#url#file/#node|short#/#file|urlescape#">file</a>
<a href="#url#log/#node|short#/#file|urlescape#">revisions</a>
<a href="#url#annotate/#node|short#/#file|urlescape#">annotate</a>
<a href="#url#raw-diff/#node|short#/#file|urlescape#">raw</a>
</div>

<h2>#file|escape#</h2>

<table id="filediffEntry">
<tr>
 <th class="revision">revision #rev#:</th>
 <td class="revision"><a href="#url#rev/#node|short#">#node|short#</a></td>
</tr>
#parent%filediffparent#
#child%filediffchild#
</table>

<div id="fileDiff">
#diff#
</div>

#footer#


