Content-type: text/html

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<style type="text/css">
a { text-decoration:none; }
.parity0 { background-color: #eeeeee; }
.parity1 { background-color: #f8f8f8; }
.lineno { width: 60px; color: #cccccc; font-size: smaller; }
.plusline { color: green; }
.minusline { color: red; }
.atline { color: purple; }
.annotate { font-size: smaller; text-align: right; padding-right: 1em; }
.buttons a {
  background-color: #666666;
  padding: 2pt;
  color: white;
  font-family: sans;
  font-weight: bold;
}
.metatag {
  background-color: #888888;
  color: white;
  text-align: right; 
}

</style>
