Content-type: text/html

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta name="robots" content="index, nofollow" />
<style type="text/css">/*<![CDATA[*/ @import "?static=style.css"; /*]]>*/</style>
