Content-type: text/html

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<style type="text/css">
<!--
a { text-decoration:none; }
.parity0 { background-color: #dddddd; }
.parity1 { background-color: #eeeeee; }
.lineno { width: 60px; color: #aaaaaa; font-size: smaller; }
.plusline { color: green; }
.minusline { color: red; }
.atline { color: purple; }
.annotate { font-size: smaller; text-align: right; padding-right: 1em; }
.buttons a {
  background-color: #666666;
  padding: 2pt;
  color: white;
  font-family: sans;
  font-weight: bold;
}
.metatag {
  background-color: #888888;
  color: white;
  text-align: right;
}

/* Common */
pre { margin: 0; }


/* Changelog entries */
.changelogEntry { width: 100%; }
.changelogEntry th { font-weight: normal; text-align: right; vertical-align: top; width: 15%;}
.changelogEntry th.age, .changelogEntry th.firstline { font-weight: bold; }
.changelogEntry th.firstline { text-align: left; width: inherit; }

/* Tag entries */
#tagEntries { list-style: none; margin: 0; padding: 0; }
#tagEntries .tagEntry { list-style: none; margin: 0; padding: 0; }
#tagEntries .tagEntry span.node { font-family: monospace; }

/* Changeset entry */
#changesetEntry { }
#changesetEntry th { font-weight: normal; background-color: #888; color: #fff; text-align: right; }
#changesetEntry th.files, #changesetEntry th.description { vertical-align: top; }

/* File diff view */
#filediffEntry { }
#filediffEntry th { font-weight: normal; background-color: #888; color: #fff; text-align: right; }

-->
</style>
