<table summary="" width="100%" border="1">
    <tr>
        <td valign="top" width="10%">author:</td>
        <td valign="top" width="20%%">#author#</td>
        <td valign="top" width="10%">description:</td>
        <td width="60%"><a href="?cmd=chkin;nd=#csnode#">#desc#</a></td>
    </tr>
    <tr>
        <td>date:</td>
        <td>#date# UTC</td>
        <td>revision:</td>
        <td><a href="?cmd=file;cs=#csnode#;fn=#fn#">#revnode#</a></td>
    </tr>
    <tr>
        <td>parent(s):</td>
        <td colspan="3">
            #p1num#: <a href="?cmd=file;nd=#p1node#;fn=#fn#">#p1node#</a>
            #p2entry#
        </td>
    </tr>
</table>
<br />
