#header#
<title>Mercurial repositories index</title>
</head>
<body>

<h2>Mercurial Repositories</h2>

<table>
    <tr>
        <td>Name</td>
        <td>Description</td>
        <td>Contact</td>
        <td>Last change</td>
        <td>&nbsp;</td>
    <tr>
    #entries%indexentry#
</table>

#footer#
