#header#
<title>Mercurial repositories index</title>
</head>
<body>

<h2>Mercurial Repositories</h2>

<table>
    <tr>
        <td>Name</td>
        <td>Description</td>
        <td>Author</td>
        <td>Last change</td>
    <tr>
    #entries#
</table>

#footer#
