Content-Type: text/html

<html>
<body>

<a href="?cmd=changelog&rev=#rev#">changelog</a>
<a href="?cmd=changeset&node=#node#">changeset</a>

<h2>manifest: #path#</h2>
<p>(#rev#:#manifest#)</p>

<p>
<a href="?cmd=manifest;manifest=#manifest#;path=#up#">[up]</a><br />
#dirs#</p>

<p>#files#</p>

</body>
</html>