#header#
<title>#repo#: manifest #manifest#</title>
</head>
<body>

<div class=buttons>
<a href="?cmd=changelog&rev=#rev#">changelog</a>
<a href="?cmd=changeset&node=#node#">changeset</a>
</div>

<h2>manifest: #path#</h2>

<div class=parity1><a href="?cmd=manifest;manifest=#manifest#;path=#up#">[up]</a><br /></div>
#entries#

#footer#