#header#
<div class="page_nav">
<a href="?cmd=summary;style=gitweb">summary</a> | log | <a href="?cmd=tags;style=gitweb">tags</a> | <a href="?cmd=manifest;manifest=#manifest#;path=/;style=gitweb">manifest</a><br/>
</div>

<h2>searching for #query|escape#</h2>

<form>
search:
<input type="hidden" name="cmd" value="changelog">
<input type="hidden" name="style" value="gitweb">
<input name="rev" type="text" width="30" value="#query|escape#">
</form>

#entries#

<form>
search:
<input type="hidden" name="cmd" value="changelog">
<input type="hidden" name="style" value="gitweb">
<input name="rev" type="text" width="30">
</form>

#footer#
