#header#
<title>#repo|escape#: searching for #query|escape#</title>
</head>
<body>

<div class="buttons">
<a href="?cl=#rev#">changelog</a>
<a href="?tags=">tags</a>
<a href="?mf=#manifest|short#;path=/">manifest</a>
</div>

<h2>searching for #query|escape#</h2>

<form>
search:
<input type="hidden" name="cmd" value="changelog">
<input name="rev" type="text" width="30" value="#query|escape#">
</form>

#entries#

<form>
search:
<input type="hidden" name="cmd" value="changelog">
<input name="rev" type="text" width="30">
</form>

#footer#
