#header#
<title>#repo|escape#: searching for #query|escape#</title>
</head>
<body>

<div class="buttons">
<a href="#url#log{getentries}">changelog</a>
<a href="#url#shortlog{getentries}">shortlog</a>
<a href="#url#tags{getentries}">tags</a>
<a href="#url#file/#node|short#{getentries}">manifest</a>
</div>

<h2>searching for #query|escape#</h2>

<form>
{sessionvars%hiddenformentry}
<p>
search:
<input name="rev" type="text" width="30" value="#query|escape#">
</p>
</form>

#entries#

<form>
{sessionvars%hiddenformentry}
<p>
search:
<input name="rev" type="text" width="30" value="#query|escape#">
</p>
</form>

#footer#
