#header#
<title>#repo|escape#: searching for #query|escape#</title>
</head>
<body>

<div class="buttons">
<a href="#url#log">changelog</a>
<a href="#url#shortlog">shortlog</a>
<a href="#url#tags">tags</a>
<a href="#url#file/#node|short#">manifest</a>
</div>

<h2>searching for #query|escape#</h2>

<form>
<p>
search:
<input name="rev" type="text" width="30" value="#query|escape#">
</p>
</form>

#entries#

<form>
<p>
search:
<input name="rev" type="text" width="30" value="#query|escape#">
</p>
</form>

#footer#
