#header#
<title>#repo|escape#: shortlog</title>
<link rel="alternate" type="application/rss+xml"
   href="?cmd=changelog;style=rss" title="RSS feed for #repo|escape#">
</head>
<body>

<div class="buttons">
<a href="?cmd=tags">tags</a>
<a href="?mf=#manifest|short#;path=/">manifest</a>
#archives%archiveentry#
<a type="application/rss+xml" href="?style=rss">rss</a>
</div>

<h2>shortlog for #repo|escape#</h2>

<form action="#">
<p>
<label for="search1">search:</label>
<input type="hidden" name="cmd" value="changelog">
<input name="rev" id="search1" type="text" size="30">
navigate: <small class="navigate">#changenav%navshortentry#</small>
</p>
</form>

#entries%shortlogentry#

<form action="#">
<p>
<label for="search2">search:</label>
<input type="hidden" name="cmd" value="changelog">
<input name="rev" id="search2" type="text" size="30">
navigate: <small class="navigate">#changenav%navshortentry#</small>
</p>
</form>

#footer#
