#header#
<title>#repo|escape#: shortlog</title>
<link rel="alternate" type="application/rss+xml"
   href="#url#rss-log" title="RSS feed for #repo|escape#">
</head>
<body>

<div class="buttons">
<a href="#url#log/#rev#{getentries}">changelog</a>
<a href="#url#tags{getentries}">tags</a>
<a href="#url#file/#node|short#/{getentries}">manifest</a>
#archives%archiveentry#
<a type="application/rss+xml" href="#url#rss-log">rss</a>
</div>

<h2>shortlog for #repo|escape#</h2>

<form action="#url#log">
<p>
<label for="search1">search:</label>
<input name="rev" id="search1" type="text" size="30">
navigate: <small class="navigate">#changenav%navshortentry#</small>
</p>
</form>

#entries%shortlogentry#

<form action="#url#log">
<p>
<label for="search2">search:</label>
<input name="rev" id="search2" type="text" size="30">
navigate: <small class="navigate">#changenav%navshortentry#</small>
</p>
</form>

#footer#
