#header#
<title>#repo|escape#: tags</title>
</head>
<body>

<div class="buttons">
<a href="?cl=tip">changelog</a>
<a href="?mf=#manifest|short#;path=/">manifest</a>
</div>

<h2>tags:</h2>

<ul id="tagEntries">
#entries%tagentry#
</ul>

#footer#
