#header#
<title>#repo|escape#: tags</title>
<link rel="alternate" type="application/rss+xml"
   href="?cmd=tags;style=rss" title="RSS feed for #repo|escape#: tags">
</head>
<body>

<div class="buttons">
<a href="?cl=tip">changelog</a>
<a href="?mf=#manifest|short#;path=/">manifest</a>
<a type="application/rss+xml" href="?cmd=tags;style=rss">rss</a>
</div>

<h2>tags:</h2>

<ul id="tagEntries">
#entries%tagentry#
</ul>

#footer#
