#header#
<title>#repo#: tags</title>
</head>
<body>

<div class="buttons">
<a href="?cmd=changelog;rev=#rev#">changelog</a>
<a href="?cmd=manifest;manifest=#manifest#;path=/">manifest</a>
</div>

<h2>tags:</h2>

#entries#

#footer#
