#header#
<title>#repo|escape#: Tags</title>
<link rel="alternate" type="application/rss+xml"
   href="?cmd=changelog;style=rss" title="RSS feed for #repo|escape#">
</head>
<body>

<div class="page_header">
<a href="http://www.selenic.com/mercurial/" title="Mercurial"><div style="float:right;">Mercurial</div></a><a href="?cmd=summary;style=gitweb">#repo|escape#</a> / tags
</div>

<div class="page_nav">
<a href="?cmd=summary;style=gitweb">summary</a> | <a href="?cmd=shortlog;style=gitweb">shortlog</a> | <a href="?cmd=changelog;style=gitweb">changelog</a> | tags | <a href="?cmd=manifest;manifest=#manifest#;path=/;style=gitweb">manifest</a>
<br/>
</div>

<table cellspacing="0">
#entries%tagentry#
</table>

#footer#
