{header}
<title>{repo|escape}: tags</title>
<link rel="alternate" type="application/atom+xml"
   href="{url}atom-tags" title="Atom feed for {repo|escape}: tags">
<link rel="alternate" type="application/rss+xml"
   href="{url}rss-tags" title="RSS feed for {repo|escape}: tags">
</head>
<body>

<div class="container">
<div class="menu">
<div class="logo">
<a href="http://www.selenic.com/mercurial/">
<img src="{staticurl}hglogo.png" width=75 height=90 border=0 alt="mercurial"></a>
</div>
<ul>
<li><a href="{url}shortlog{sessionvars%urlparameter}">log</a></li>
<li><a href="{url}graph{sessionvars%urlparameter}">graph</a></li>
<li class="active">tags</li>
</ul>
</div>

<div class="main">
<h2><a href="{url}">{repo|escape}</a></h2>
<h3>tags</h3>

<form class="search" action="{url}log">
{sessionvars%hiddenformentry}
<p><input name="rev" id="search1" type="text" size="30"></p>
<span>find changesets by author, revision, 
files, or words in the commit message</span>
</form>

<table class="bigtable">
<tr>
 <th>tag</th>
 <th>node</th>
</tr>
{entries%tagentry}
</table>
</div>
</div>

{footer}
