<table class="slogEntry parity{parity}">
 <tr>
  <td class="age">{date|age}</td>
  <td class="author">{author|person}</td>
  <td class="node"><a href="{url}rev/{node|short}{sessionvars%urlparameter}">{desc|strip|firstline|escape|nonempty}</a></td>
 </tr>
</table>
