{header}
 <id>{urlbase}{url}</id>
 <link rel="self" href="{urlbase}{url}atom-tags"/>
 <link rel="alternate" href="{urlbase}{url}tags"/>
 <title>{repo|escape}: branches</title>
 <summary>{repo|escape} branch history</summary>
 <author><name>Mercurial SCM</name></author>
 {latestentry%feedupdated}

 {entries%branchentry}
</feed>
