{header}
 <!-- Changelog -->
 <id>{urlbase}{url}</id>
 <link rel="self" href="{urlbase}{url}atom-log"/>
 <link rel="alternate" href="{urlbase}{url}"/>
 <title>{repo|escape} Changelog</title>
 {latestentry%feedupdated}

{entries%changelogentry}
</feed>
