 <entry>
  <title>{desc|strip|firstline|strip|escape|nonempty}</title>
  <id>{urlbase}{url|urlescape}#changeset-{node}</id>
  <link href="{urlbase}{url|urlescape}rev/{node|short}"/>
  <author>
   <name>{author|person|escape}</name>
   <email>{author|email|obfuscate}</email>
  </author>
  <updated>{date|rfc3339date}</updated>
  <published>{date|rfc3339date}</published>
  <content type="xhtml">
   <div xmlns="http://www.w3.org/1999/xhtml">
    <pre xml:space="preserve">{desc|escape|nonempty}</pre>
   </div>
  </content>
 </entry>
