{header}
 <id>{urlbase}{url}atom-log/tip/{file|escape}</id>
 <link rel="self" href="{urlbase}{url}atom-log/tip/{file|urlescape}"/>
 <title>{repo|escape}: {file|escape} history</title>
 {latestentry%feedupdated}

{entries%changelogentry}
</feed>
