name: EdenSCM Rust Libraries

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Run auth tests
      run: cargo test --verbose --target-dir target --manifest-path eden/scm/lib/auth/Cargo.toml
    - name: Run backingstore tests
      run: cargo test --verbose --target-dir target --manifest-path eden/scm/lib/backingstore/Cargo.toml
    - name: Run blackbox tests
      run: cargo test --verbose --target-dir target --manifest-path eden/scm/lib/blackbox/Cargo.toml
    # thrift-types does not build
    # - name: Run clidispatch tests
    #  run: cargo test --verbose --target-dir target --manifest-path eden/scm/lib/clidispatch/Cargo.toml
    - name: Run cliparser tests
      run: cargo test --verbose --target-dir target --manifest-path eden/scm/lib/cliparser/Cargo.toml
    # openssl does not build
    # - name: Run commitcloudsubscriber tests
    #   run: cargo test --verbose --target-dir target --manifest-path eden/scm/lib/commitcloudsubscriber/Cargo.toml
    - name: Run config/parser tests
      run: cargo test --verbose --target-dir target --manifest-path eden/scm/lib/config/parser/Cargo.toml
    - name: Run cpython-ext tests
      run: cargo test --verbose --target-dir target --manifest-path eden/scm/lib/cpython-ext/Cargo.toml
    - name: Run dag tests
      run: cargo test --verbose --target-dir target --manifest-path eden/scm/lib/dag/Cargo.toml
    - name: Run drawdag tests
      run: cargo test --verbose --target-dir target --manifest-path eden/scm/lib/drawdag/Cargo.toml
    # thrift-types does not build
    # - name: Run edenfs-client tests
    #   run: cargo test --verbose --target-dir target --manifest-path eden/scm/lib/edenfs-client/Cargo.toml
    - name: Run encoding tests
      run: cargo test --verbose --target-dir target --manifest-path eden/scm/lib/encoding/Cargo.toml
    # clidispatch does not build
    # - name: Run hgcommands tests
    #   run: cargo test --verbose --target-dir target --manifest-path eden/scm/lib/hgcommands/Cargo.toml
    - name: Run hgtime tests
      run: cargo test --verbose --target-dir target --manifest-path eden/scm/lib/hgtime/Cargo.toml
    - name: Run indexedlog tests
      run: cargo test --verbose --target-dir target --manifest-path eden/scm/lib/indexedlog/Cargo.toml
    - name: Run lz4-pyframe tests
      run: cargo test --verbose --target-dir target --manifest-path eden/scm/lib/lz4-pyframe/Cargo.toml
    - name: Run manifest tests
      run: cargo test --verbose --target-dir target --manifest-path eden/scm/lib/manifest/Cargo.toml
    - name: Run manifest-tree tests
      run: cargo test --verbose --target-dir target --manifest-path eden/scm/lib/manifest-tree/Cargo.toml
    - name: Run metalog tests
      run: cargo test --verbose --target-dir target --manifest-path eden/scm/lib/metalog/Cargo.toml
    - name: Run mincode tests
      run: cargo test --verbose --target-dir target --manifest-path eden/scm/lib/mincode/Cargo.toml
    - name: Run minibench tests
      run: cargo test --verbose --target-dir target --manifest-path eden/scm/lib/minibench/Cargo.toml
    - name: Run minibytes tests
      run: cargo test --verbose --target-dir target --manifest-path eden/scm/lib/minibytes/Cargo.toml
    - name: Run mpatch tests
      run: cargo test --verbose --target-dir target --manifest-path eden/scm/lib/mpatch/Cargo.toml
    - name: Run mpatch-sys tests
      run: cargo test --verbose --target-dir target --manifest-path eden/scm/lib/mpatch-sys/Cargo.toml
    - name: Run mutationstore tests
      run: cargo test --verbose --target-dir target --manifest-path eden/scm/lib/mutationstore/Cargo.toml
    - name: Run nodemap tests
      run: cargo test --verbose --target-dir target --manifest-path eden/scm/lib/nodemap/Cargo.toml
    - name: Run pathmatcher tests
      run: cargo test --verbose --target-dir target --manifest-path eden/scm/lib/pathmatcher/Cargo.toml
    - name: Run procinfo tests
      run: cargo test --verbose --target-dir target --manifest-path eden/scm/lib/procinfo/Cargo.toml
    - name: Run radixbuf tests
      run: cargo test --verbose --target-dir target --manifest-path eden/scm/lib/radixbuf/Cargo.toml
    - name: Run renderdag tests
      run: cargo test --verbose --target-dir target --manifest-path eden/scm/lib/renderdag/Cargo.toml
    - name: Run revisionstore tests
      run: cargo test --verbose --target-dir target --manifest-path eden/scm/lib/revisionstore/Cargo.toml
    # fbthrift is not published
    # - name: Run thrift-types tests
    #  run: cargo test --verbose --target-dir target --manifest-path eden/scm/lib/thrift-types/Cargo.toml
    - name: Run tracing-collector tests
      run: cargo test --verbose --target-dir target --manifest-path eden/scm/lib/tracing-collector/Cargo.toml
    - name: Run treestate tests
      run: cargo test --verbose --target-dir target --manifest-path eden/scm/lib/treestate/Cargo.toml
    - name: Run types tests
      run: cargo test --verbose --target-dir target --manifest-path eden/scm/lib/types/Cargo.toml
    - name: Run util tests
      run: cargo test --verbose --target-dir target --manifest-path eden/scm/lib/util/Cargo.toml
    - name: Run vlqencoding tests
      run: cargo test --verbose --target-dir target --manifest-path eden/scm/lib/vlqencoding/Cargo.toml
    - name: Run workingcopy tests
      run: cargo test --verbose --target-dir target --manifest-path eden/scm/lib/workingcopy/Cargo.toml
    - name: Run xdiff tests
      run: cargo test --verbose --target-dir target --manifest-path eden/scm/lib/xdiff/Cargo.toml
    - name: Run xdiff-sys tests
      run: cargo test --verbose --target-dir target --manifest-path eden/scm/lib/xdiff-sys/Cargo.toml
    - name: Run zstdelta tests
      run: cargo test --verbose --target-dir target --manifest-path eden/scm/lib/zstdelta/Cargo.toml
    - name: Run zstore tests
      run: cargo test --verbose --target-dir target --manifest-path eden/scm/lib/zstore/Cargo.toml
