name: Mononoke Linux

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v1
    - name: Check space before cleanup
      run: df -h
    - name: Clean space as per https://github.com/actions/virtual-environments/issues/709
      run: |
        sudo rm -rf "/usr/local/share/boost"
        sudo rm -rf "$AGENT_TOOLSDIRECTORY"
        docker rmi $(docker image ls -aq)
        df -h
    - name: Check space
      run: df -h
    - name: Install Rust Stable
      uses: actions-rs/toolchain@v1
      with:
        toolchain: 1.50.0
        default: true
        profile: minimal
    - name: Install system deps
      run: sudo python3 build/fbcode_builder/getdeps.py --allow-system-packages install-system-deps --recursive mononoke
    - name: Build dependencies
      run: python3 build/fbcode_builder/getdeps.py build --allow-system-packages --only-deps --src-dir=. mononoke
    - name: Build mononoke
      run: python3 build/fbcode_builder/getdeps.py build --allow-system-packages --no-deps --src-dir=. mononoke
    - name: Check space after build
      run: df -h
    - name: Test mononoke
      run: python3 build/fbcode_builder/getdeps.py test --allow-system-packages --src-dir=. mononoke
    - name: Check space at the end
      run: df -h
